.simple-calendar {
  .day {
      text-align: right;
  }

  .wday-0 {
        color: #4f7af1
  }
  .wday-1 {
        color: #ff0000;
  }
  .wday-2 {}
  .wday-3 {}
  .wday-4 {
        background-color: slategrey;
  }
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}

  th {
      text-align: center;
  }
}