.simple-calendar {
  .day {
      text-align: right;
  }

  .wday-0 {
      color: red;
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {
      background-color: slategrey;
  }
  .wday-4 {}
  .wday-5 {}
  .wday-6 {
      color: #4f7af1
  }

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}

  th {
      text-align: center;
  }
}